footer.footer
    div.container
        div.row
            div.col
                div.footer__text
                |Тот самый конвертер!
                =' '
                br.footer__br
                |Copyright © 2020
